/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&display=swap");

body {
  margin: 0;
  display: flex;
  place-items: center;
  background-color: #fafafa;
  color: #4d4f62;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

#root {
  width: 100%;
}
